* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.header {
  padding: 0 0 100px;
  font-weight: 700;
}

.nav {
  height: 88px;
  border-bottom: 1px #828282 solid;
  overflow: hidden;
}

.nav__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav .switch-lang {
  display: none;
}

.nav .menu__close {
  display: none;
}

.nav__item {
  color: #828282;
}

.nav__item.active {
  color: #070707;
}

.nav__link {
  text-transform: capitalize;
}

.me {
  padding: 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-gap: 2.5em 0;
}

.me__name {
  font-size: 47px;
}

.me__logo {
  width: 100%;
  height: calc(Min(100vw, 940px) / 2.4);
  background-image: url("img/me.jpeg");
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.switch-lang {
  font-size: 16px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  text-orientation: mixed;
  text-transform: uppercase;
  color: #828282;
}

.switch-lang > span {
  padding: 5px 0;
  cursor: pointer;
}

.switch-lang > span:first-child {
  border-bottom: 2px #070707 solid;
}

.switch-lang .active {
  color: #070707;
}

@media screen and (max-width: 678px) {
  .nav {
    padding: 60px 30px;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .nav.active {
    top: 0;
  }
  .nav__inner {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav .switch-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    font-size: 34px;
    text-align: right;
    -webkit-transform: none;
    transform: none;
  }
  .nav .menu__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  .nav .menu__close::before, .nav .menu__close::after {
    content: '';
    display: block;
    width: 27px;
    height: 4px;
    background-color: #828282;
    -webkit-transform: translateY(50%) rotate(45deg);
    transform: translateY(50%) rotate(45deg);
  }
  .nav .menu__close::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
  }
  .nav__link {
    font-size: 34px;
  }
  .me {
    grid-gap: 1.5em 0;
  }
  .me__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .me__short {
    font-weight: 400;
  }
  .me .switch-lang {
    display: none;
  }
  .me__logo {
    height: 478px;
    background-position: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 33px;
    height: 20px;
    cursor: pointer;
  }
  .menu::before, .menu span, .menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #070707;
  }
}

.about {
  text-align: center;
}

.about .container {
  max-width: 480px;
}

.about__content {
  margin: 0 auto;
}

.skills .text {
  margin: 80px 0;
}

.skills__item {
  margin: 0 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 166px;
  height: 205px;
}

.skills__logo {
  height: 55%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.skills__name {
  margin: 1.5em 0 2.5em;
  width: 90px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.skills__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 9px;
  width: 100%;
  height: 24px;
}

.skills__rate-star {
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 820px) {
  .skills .flexblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .skills__item {
    margin: 0 0 80px;
  }
  @supports (grid-gap: 80px 0) {
    .skills .flexblock {
      grid-gap: 80px 0;
    }
    .skills__item {
      margin: 0;
    }
  }
}

.portfolio__item {
  margin: 0 0 100px;
}

.portfolio__logo {
  width: 100%;
}

.portfolio .title {
  margin: 0 0 60px;
}

.portfolio .text {
  margin: 2.5em 0 0;
  text-decoration: underline;
}

.contacts .container {
  max-width: 470px;
}

.contacts__btn {
  margin: 0 auto;
  padding: 13px 28px;
  width: auto;
  color: #fff;
  font-weight: 700;
  border-radius: 2em;
  background-color: #070707;
}

.social {
  margin: 5em auto 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
  .contacts__btn {
    width: 100%;
  }
  .contacts .subtext {
    font-size: 18px;
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}

html.lock {
  overflow: hidden;
}

body > * {
  padding: 100px 0;
}

body > *:nth-child(odd) {
  background-color: #fff;
}

body > *:nth-child(even) {
  background-color: #f6f6f6;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: calc(100vw - 60px);
}

.flexblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: 0 0 24px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.text {
  margin: 0 0 2.5em;
  text-align: center;
}

.subtext {
  color: #828282;
  font-size: 14px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
