* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  font-size: 100%;
  line-height: normal;
}

button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

a,
a:visited {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  padding: 0 0 100px;
  font-weight: 700;
}

.nav {
  height: 88px;
  border-bottom: 1px #828282 solid;
  overflow: hidden;
}

.nav__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  color: #828282;
}

.nav__item.active {
  color: #070707;
}

.nav__link {
  text-transform: capitalize;
}

.me {
  padding: 40px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  grid-gap: 2.5em 0;
}

.me__name {
  font-size: 47px;
}

.me__logo {
  width: 100%;
  height: calc(Min(100vw, 940px) / 2.4);
  background-image: url("img/me.jpeg");
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.switch-lang {
  font-size: 16px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  text-transform: uppercase;
  color: #828282;
}

.switch-lang > span {
  padding: 5px 0;
  cursor: pointer;
}

.switch-lang > span:first-child {
  border-bottom: 2px #070707 solid;
}

.switch-lang .active {
  color: #070707;
}

@media screen and (max-width: 678px) {
  .nav {
    display: none;
  }
  .me {
    grid-gap: 1.5em 0;
  }
  .me__name {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .me__short {
    font-weight: 400;
  }
  .me .switch-lang {
    display: none;
  }
  .me__logo {
    height: 478px;
    background-position: center;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33px;
    height: 20px;
    cursor: pointer;
  }
  .menu span {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #070707;
  }
}

.about {
  text-align: center;
}

.about .container {
  max-width: 480px;
}

.about__content {
  margin: 0 auto;
}

.skills .text {
  margin: 80px 0;
}

.skills__item {
  margin: 0 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 166px;
  height: 205px;
}

.skills__logo {
  height: 55%;
  object-fit: scale-down;
}

.skills__name {
  margin: 1.5em 0 2.5em;
  width: 90px;
  flex: 1 1 auto;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.skills__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 9px;
  width: 100%;
  height: 24px;
}

@media screen and (max-width: 820px) {
  .skills .flexblock {
    flex-direction: column;
    align-items: center;
  }

  .skills__item {
    margin: 0 0 80px;
  }
}

.portfolio__item {
  margin: 0 0 100px;
}

.portfolio__logo {
  width: 100%;
}

.portfolio .title {
  margin: 0 0 60px;
}

.portfolio .text {
  margin: 2.5em 0 0;
  text-decoration: underline;
}

.contacts .container {
  max-width: 470px;
}

.contacts__btn {
  margin: 0 auto;
  padding: 13px 28px;
  color: #fff;
  font-weight: 700;
  border-radius: 2em;
  background-color: #070707;
}

.social {
  margin: 5em auto 2.5em;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
  .contacts__btn {
    width: 100%;
  }
  .contacts .subtext {
    font-size: 18px;
  }
}

html {
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}

body > * {
  padding: 100px 0;
}

body > *:nth-child(2n) {
  background-color: #f6f6f6;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: calc(100vw - 60px);
}

.flexblock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: 0 0 24px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.text {
  margin: 0 0 2.5em;
  text-align: center;
}

.subtext {
  color: #828282;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  font-size: 100%;
  line-height: normal;
}

button {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

a,
a:visited {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  padding: 0 0 100px;
  font-weight: 700;
}

.nav {
  height: 88px;
  border-bottom: 1px #828282 solid;
  overflow: hidden;
}

.nav__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  color: #828282;
}

.nav__item.active {
  color: #070707;
}

.nav__link {
  text-transform: capitalize;
}

.me {
  padding: 40px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  grid-gap: 2.5em 0;
}

.me__name {
  font-size: 47px;
}

.me__logo {
  width: 100%;
  height: calc(Min(100vw, 940px) / 2.4);
  background-image: url("img/me.jpeg");
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.switch-lang {
  font-size: 16px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  text-transform: uppercase;
  color: #828282;
}

.switch-lang > span {
  padding: 5px 0;
  cursor: pointer;
}

.switch-lang > span:first-child {
  border-bottom: 2px #070707 solid;
}

.switch-lang .active {
  color: #070707;
}

@media screen and (max-width: 678px) {
  .nav {
    display: none;
  }
  .me {
    grid-gap: 1.5em 0;
  }
  .me__name {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .me__short {
    font-weight: 400;
  }
  .me .switch-lang {
    display: none;
  }
  .me__logo {
    height: 478px;
    background-position: center;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33px;
    height: 20px;
    cursor: pointer;
  }
  .menu span {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #070707;
  }
}

.about {
  text-align: center;
}

.about .container {
  max-width: 480px;
}

.about__content {
  margin: 0 auto;
}

.skills .text {
  margin: 80px 0;
}

.skills__item {
  margin: 0 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 166px;
  height: 205px;
}

.skills__logo {
  height: 55%;
  object-fit: scale-down;
}

.skills__name {
  margin: 1.5em 0 2.5em;
  width: 90px;
  flex: 1 1 auto;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.skills__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 9px;
  width: 100%;
  height: 24px;
}

@media screen and (max-width: 820px) {
  .skills .flexblock {
    flex-direction: column;
    align-items: center;
  }

  .skills__item {
    margin: 0 0 80px;
  }
}

.portfolio__item {
  margin: 0 0 100px;
}

.portfolio__logo {
  width: 100%;
}

.portfolio .title {
  margin: 0 0 60px;
}

.portfolio .text {
  margin: 2.5em 0 0;
  text-decoration: underline;
}

.contacts .container {
  max-width: 470px;
}

.contacts__btn {
  margin: 0 auto;
  padding: 13px 28px;
  color: #fff;
  font-weight: 700;
  border-radius: 2em;
  background-color: #070707;
}

.social {
  margin: 5em auto 2.5em;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
  .contacts__btn {
    width: 100%;
  }
  .contacts .subtext {
    font-size: 18px;
  }
}

html {
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}

body > * {
  padding: 100px 0;
}

body > *:nth-child(2n) {
  background-color: #f6f6f6;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: calc(100vw - 60px);
}

.flexblock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  margin: 0 0 24px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.text {
  margin: 0 0 2.5em;
  text-align: center;
}

.subtext {
  color: #828282;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
